/*Media query breakpoints*/
.account-link {
  padding: .25rem;
  border: #3C91E6 2px solid;
  margin-bottom: .5rem;
  width: 75%;
  background-color: #333333;
  color: white; }

/******************GENERAL RULES******************/
body.container-fluid {
  font-family: ubuntu;
  padding: 0;
  overflow-x: hidden; }

h4 {
  font-family: oswald; }

/******************HEADER / BANNER SECTIONS******************/
header.row {
  display: flex;
  background: #3C91E6;
  align-items: center;
  border: #333333 2px solid;
  height: 8rem; }
  @media (max-device-width: 480px) {
    header.row {
      height: 20rem;
      font-size: 30Px; } }
  header.row img.logo {
    height: 9rem; }
    @media (max-device-width: 480px) {
      header.row img.logo {
        font-size: 32px; } }

.date {
  display: flex;
  justify-content: center; }

.account-link {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-device-width: 480px) {
    .account-link {
      text-align: center;
      float: right; } }
  .account-link a {
    margin-bottom: 2rem; }

.banner {
  background: url("../assets/images/newbanner.png") no-repeat center center;
  background-size: 100% 100%;
  height: 30rem; }

/******************PRESENTATION SECTION******************/
.presentation {
  margin: 3rem 0 3rem 0; }
  .presentation__content {
    background: #F1FFE7;
    border: #3C91E6 2px solid;
    border-radius: 10px;
    box-shadow: 3px 3px; }
    @media (max-device-width: 480px) {
      .presentation__content {
        font-size: 34px;
        border: #3C91E6 1px solid;
        text-align: center; } }

/******************FILMS SECTION******************/
.films__content {
  background: #F1FFE7;
  border: #3C91E6 2px solid;
  border-radius: 10px;
  box-shadow: 3px 3px;
  display: flex;
  overflow-x: scroll; }

.films__single {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 0 7rem 0 7rem; }
  @media (max-device-width: 480px) {
    .films__single {
      font-size: 32px;
      padding: 0 30rem 0 30rem; } }
  @media (max-device-width: 480px) {
    .films__single h4 {
      font-size: 32px; } }
  .films__single img {
    max-height: 10rem;
    margin: 2rem 0 2rem 0; }
    @media (max-device-width: 480px) {
      .films__single img {
        max-height: 35rem; } }

/******************NEWS SECTION******************/
.news {
  margin-top: 3rem; }
  .news__content {
    background: #F1FFE7;
    border: #3C91E6 2px solid;
    border-radius: 10px;
    box-shadow: 3px 3px;
    display: flex;
    overflow-x: scroll; }
  .news__single {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 4rem;
    padding: 0 5rem 2rem 5rem;
    border: #333333 2px solid;
    background: #23C58F;
    position: relative; }
    @media (max-device-width: 480px) {
      .news__single {
        font-size: 32px;
        padding: 0 10rem 2rem 10rem;
        margin: 5rem 19rem 5rem 19rem; } }
    .news__single .news-full-link {
      position: absolute;
      right: 0;
      bottom: 0; }
    @media (max-device-width: 480px) {
      .news__single h4 {
        font-size: 32px; } }
    .news__single img {
      max-height: 30rem;
      margin: 2rem 0 2rem 0; }

/******************FOOTER SECTION******************/
footer.row {
  padding: 1rem;
  background-color: #333333;
  font-size: 1.25rem;
  color: #F1FFE7;
  display: flex;
  align-items: center;
  margin-top: 10rem; }
  @media (max-device-width: 480px) {
    footer.row {
      font-size: 28px; } }
  footer.row .links {
    display: flex;
    flex-direction: column; }
    footer.row .links a {
      color: #F1FFE7;
      padding: .5rem 0 .5rem 0; }
      @media (max-device-width: 480px) {
        footer.row .links a {
          padding: 1rem 0 1rem 0; } }
  footer.row .social-media-links {
    font-size: 3rem; }
    @media (max-device-width: 480px) {
      footer.row .social-media-links {
        font-size: 42px; } }
    footer.row .social-media-links i:hover {
      color: #3C91E6; }
