$caribbeangreen : #23C58F;
$jet : #333333;
$bleudefrance : #3C91E6;
$honeydew : #F1FFE7;
$white : #FFFFFF;

$title-font : oswald;
$content-font : ubuntu;

/*Media query breakpoints*/
$mobile-max-bp: 480px;
$tablet-min-bp: 768px;
$tablet-max-bp: 1024px;