/******************GENERAL RULES******************/
body {
  overflow-x: hidden;
}

body.container-fluid {
  font-family: $content-font;
  padding: 0;
  margin: 0;
}

/******************HEADER / BANNER SECTIONS******************/
header.row {
  display: flex;
  background: $caribbeangreen;
  align-items: center;
  border: $jet 2px solid;
  height: 8rem;
  img.logo {
    height: 7rem;
  }

}

.date {
  display: flex;
  justify-content: center;
}

.account-link {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    margin-bottom: 2rem;
  }
}

.banner {
  display: flex;
  justify-content: center;
  img {
    width: 100%;
    height: 20rem;
  }
}


/******************FOOTER SECTION******************/

footer.row {
  padding: 1rem;
  background-color: $jet;
  font-size: 1.25rem;
  color: $honeydew;
  display: flex;
  align-items: center;

  .links {
    display: flex;
    flex-direction: column;
    a {
      color: $honeydew;
    }
  }
  .social-media-links {
    font-size: 3rem;
    i {
      &:hover {
        color: $bleudefrance;
      }
    }
  }
}

